body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    padding: 30px;
    background-color: #a5e4db;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(146, 69, 69, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
    

}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    width: 100%;
    padding: 9px;
    margin-top: 4px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

form input[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;  
    background-color: #547c79; /* Green color */
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #218838;
    text-decoration: none;
}
